certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.3
idna==3.10
Nuitka==2.7.6
ordered-set==4.1.0
pycparser==2.22
requests==2.32.4
tqdm==4.67.1
urllib3==2.4.0
zstandard==0.23.0
